# Server Configuration
NODE_ENV=development
PORT=3001
FRONTEND_URL=http://localhost:5173

# Supabase Configuration
DATABASE_URL="postgresql://postgres.zkuqukvmhhyjeqkvrlnj:##Oasis1234##@aws-1-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
SUPABASE_URL=https://zkuqukvmhhyjeqkvrlnj.supabase.co
SUPABASE_ANON_KEY=sb_publishable_LE1mh4koCXyBM854qas_bw_CaZzjcXA
SUPABASE_SERVICE_KEY=your-service-role-key-here
SUPABASE_PROJECT_PASS=##Oasis1234##

# Redis Configuration (Supabase Redis or Upstash)
REDIS_URL=redis://localhost:6379
# For Upstash Redis: redis://default:[PASSWORD]@[ENDPOINT]



# Game Server Configuration
GAME_TICK_RATE=60
MAX_PLAYERS_PER_ROOM=50
